@font-face {
  font-family: 'CircularPro';
  src: url('/font/circular/lineto-circular-bold-c.eot'); /* IE9 Compat Modes */
  src: url('/font/circular/lineto-circular-bold-c.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/font/circular/lineto-circular-bold-c.woff') format('woff'), /* Pretty Modern Browsers */
       url('/font/circular/lineto-circular-bold-c.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/font/circular/lineto-circular-bold-c.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'CircularProBook';
  src: url('/font/circular/lineto-circular-book-c.eot'); /* IE9 Compat Modes */
  src: url('/font/circular/lineto-circular-book-c.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/font/circular/lineto-circular-book-c.woff') format('woff'), /* Pretty Modern Browsers */
       url('/font/circular/lineto-circular-book-c.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/font/circular/lineto-circular-book-c.svg#svgFontName') format('svg'); /* Legacy iOS */
}
