@import "./palette";
@import "./search";

.center {
  text-align: center;
}

section {
  background: white;
}

.white {
  color: white;
}

#homepage {
  .home-hero {
    height: 548px;
    background: $primary-nav-bg;
    background-image: url("/img/blocks-bg.png");
    background-repeat: no-repeat;
    background-position-x: -353px;
    .heading{
      background: transparent;
      .illustration-header-left{
        height: 100px;
        width: 300px;
        display: block;
        background-image: url(/img/illustration-header-left.png);
        background-repeat: no-repeat;
        z-index: 0;
        background-size: 10%;
        position: relative;
        top: -12px;
      }
      .illustration-header-right{
        height: 500px;
        width: 446px;
        display: block;
        background-image: url(/img/illustration-header-right.png);
        background-repeat: no-repeat;
        z-index: 0;
        position: relative;
        top: -249px;
        right: -70%;
      }

    }
    .orbit{
      margin-top: 60px;
      h1{
        font-size: 38px;
        line-height: 50px;
      }
      h4{
        &.title{
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
      .orbit-container{
        &:focus{
          outline: none;
        }
      }

      .orbit-slide{
        &:focus{
          outline: none;
        }
      }

      .orbit-bullets{
        top: 0px;
        padding-top: 0;
        margin: auto;
        width: 200px;

        button{
          background-color: white;
          pointer-events: auto;
          width: .75rem;
          height: .75rem;
          &:focus{
            outline: none;
          }

        }
        .is-active{
          background: #8AAEE5;
        }

        .button{
          background-color: white;
          pointer-events: auto;
          width: .75rem;
          height: .75rem;
        }
      }
    }


    .top-bar {
      background: transparent;
      height: 48px;
      font-size: 18px;

      .logo {
        z-index: 1;
        background-image: url("/img/atlassian-logo-white.png");
        background-size: 96px 20.4px;
        background-color: transparent;
        display: block;
        width: 96px;
        height: 20.4px;
        position: relative;
        float: left;
        top: -9px;
        margin-right: 5px;
      }

      .top-bar-left {
        ul{
            background-color: transparent;
        }

        .dropdown.menu {
          ul{
            border: none;
            background-color: transparent;
          }

            >.first-item{
              background-color: transparent;
              height: 47px;
              top: -8px;
              left: 14px;

                a.first-link{
                    top:11px;
                }

              &:hover{

                background-color: $homepage-header-li-bg;

                &:before {
                    display: block;
                    content: "";
                    height: 0;
                    width: 0;
                    border: 25px solid $homepage-header-li-bg;
                    border-left: 9px solid transparent;
                    border-top: 71px solid transparent;
                    position: absolute;
                    left: -18px;
                    top: -49px;
                }

                &:after {
                    display: block;
                    content: "";
                    height: 0;
                    width: 0;
                    border: 25px solid $homepage-header-li-bg;
                    border-bottom: 65px solid transparent;
                    border-right: 10px solid transparent;
                    position: absolute;
                    right: -35px;
                    top: -42px;
                }

              }

            }

             > li.opens-right > .is-dropdown-submenu {
                right: -24px;
                left: -18px;
                top: 100%;
            }



          > li.is-dropdown-submenu-parent > a::after {
            content: " ";
            font-family: aui-iconfont;
            border: none;
            right: 25px;
            margin-top: -8px
          }

          li.menu-text {
            padding: 0px;
            font-size: 18px;
            color: white;
          }

          li.no-hover{
            background-color: transparent;
            &:hover{
              cursor: pointer;
              background-color: transparent;
            }
          }

          li {
            background: $homepage-header-li-bg;
            font-size: 18px;
            border: none;
            padding-top: 2px;
            padding-bottom: 5px;
            &.first {
              height:100px;
            }

            &:hover {
              background: $header-hover;
            }

            &.last {
              border-radius: 0px 0px 5px 5px;

              &:hover {
                border-radius: 0px 0px 5px 5px;
                background: $header-hover;
              }
            }

            a {
              position: relative;
              padding: 0.4em 1.4em 0.4em 0.4em;
              top: 4px;
              position: relative;
            }
          }

          input {
            height: 30px;
          }

          a {
            color: white;
          }

        }

        border: none;
        padding: 0;
        position: relative;
      }

      .top-bar-right {
        ul.menu {
          background: $header-color;

          li {
            a {
              background: $header-color;
              color: white;
            }

            &:hover {
              background: $header-color;
            }
            font-size: 18px;
          }
        }
      }
    }
  }

  .main {
    min-height: 800px;
    background: $sidebar-bg;

    .sidebar {}
  }

  .sidebar {
    margin-top: 20px;

    .title {
      font-weight: bold;
      font-size: 0.8em;
    }

    li {
      a {
        padding-left: 0;
        font-weight: normal;
        padding-top: 0.5rem 1rem;
        padding-bottom: 0.5rem 1rem;
        line-height: 1;
        font-size: 0.9em;
      }
    }
  }

  .content {
    background: $primary-nav-fg;
    min-height: 800px;
  }

  .profile {
    display: none;
  }

  section{
    padding-top: 30px;
    padding-bottom: 30px;
    .get-start-button{
      display: block; 
      text-align: center;
      .button{
        background-color: $footer-cta-button; 
      }
    }
  }

  .events{
    .illustration-events-left{
      height: 500px;
      width: 700px;
      display: block;
      background-image: url(/img/illustration-events-left.png);
      background-repeat: no-repeat;
      background-size: 220px;
      z-index: 0;
      position: relative;
      top: 192px;
      right: 178px;

    }

    .event-block-right{
      img{
        height: 92px;
        width: 92px;
        margin: 0 auto 30px;
        display: block;
        padding: 12px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
      }
    }
  }

  .footer-cta{
    padding-top: 50px;
    background-color: $footer-cta-bg;
    min-height: 673px;
    background-image: url("/img/footer-cta-bg.png");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 1440px;

    .button{
      background-color: $footer-cta-button;
    }
  }

  footer {
    background: $primary-nav-bg;
    height: 48px;

    .logo {
      background-image: url("/img/atlassian-logo-white.png");
      background-size: 96px 20.4px;
      background-color: transparent;
      display: block;
      width: 96px;
      height: 20.4px;
      position: relative;
      top:10px;
      margin-right: 5px;
    }

    .social {
      width: 153px;
      height: 33px;
      background: grey;
    }
  }
}

@media screen and (min-width: 40em) {
  img.left {
    max-height: 120px;
  }
  #homepage {
    .home-hero {
      .orbit {
        .orbit-container {
          height: 360px !important;
        }
      }
    }
  }
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  #homepage {
    .home-hero {
      .orbit {
        margin-top: 40px;
      }
      .orbit h1 {
        font-size:30px;
        line-height: 40px;
      }
    }
  }
}
@media screen and (min-width: 64em) {
  #homepage {
    .home-hero {
      .orbit {
        .orbit-container {
          min-height: 300px;
        }
      }
    }
  }
}

@media screen and (max-width: 39.9375em) {
  img.left {
    max-height: 100px;
  }
  #homepage {
    .home-hero {
      .orbit {
        margin-top: 10px;
      }
      .orbit h1 {
        font-size:30px;
        line-height: 40px;
      }
      .orbit-container {
          height: 380px !important;
        }
    }
  }
}