@import "./palette";
@import "./font-faces";

.center {
  text-align: center;
}

#prod-index {
  .tetris-top-left{
    display: block;
    background-image: url(/img/tetris-1.png);
    background-repeat: no-repeat;
    background-size: 50%;
    position: absolute;
    left: 15px;
    top: 100px;
    height: 135px;
    width: 426px;
  }
  .tetris-top-right{
    display: block;
    background-image: url(/img/tetris-2.png);
    background-repeat: no-repeat;
    background-size: 75%;
    position: absolute;
    right: 15px;
    top: 200px;
    height: 154px;
    width: 134px;
  }
  .tetris-mid-right{
    display: block;
    background-image: url(/img/tetris-3.png);
    background-repeat: no-repeat;
    background-size: 75%;
    position: absolute;
    right: 15px;
    top: 700px;
    height: 199px;
    width: 159px;
  }
  .main {
    margin-top: 32px;
    h1 {
      margin-bottom: 15px;
      font-size: 48px;
    }
    p {
      font-size: 18px;
    }
  }
  #sections {
    margin: 62px 35px 0 35px;
    h3 {
      font-family: CircularPro;
      color: $nav-item;
      font-size: 24px;
      margin-bottom: 20px;
    }
    ul {
      margin-left: 0px;
      li {
        margin: 8px 0 8px 0;
        list-style: none;
        font-size: 14px;
        a {
          &:hover{
            text-decoration: underline;
          }
        }
        a.external-link {
          &:hover {
            text-decoration: underline;
            &::after {
              font-family: "aui-iconfont";
              display: inline-block;
              content: "\f140";
              -webkit-transform: rotate(-135deg);
              -moz-transform: rotate(-135deg);
              -ms-transform: rotate(-135deg);
              -o-transform: rotate(-135deg);
            }
          }
        }
      }
    }
    li.title {
        color: $heading-3;
        font-size: 14px;
        font-weight: bold;
    }
  }
}
