@import "./palette"
, "./geometry"
, "./top-bar";

$header-offset-x: -100px;

#showcase-content {
  background-color: $showcase-content-bg;
  margin: 0 auto 0 auto;
  padding: 70px $showcase-content-padding-left 70px $showcase-content-padding-left;
  width: $showcase-content-width;
  h1,h2 {
    margin-bottom: 18px;
  }
  ul {
    margin-left: 0px;
  }
  li {
    margin: 8px 0 8px 0;
    list-style: none;
  }
  li.title {
    font-size: 14px;
    font-weight: bold;
  }
  blockquote {
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: $header-offset-x - $showcase-content-padding-left;
    padding-left: $showcase-content-padding-left - $header-offset-x;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    border-left: none;
    border-right: none;

    p {
      font-size: 18px;
      color: $showcase-lede-fg;
      img.quote-profile {
        width: 130px;
        margin-right: 10px;
        margin-left: -160px;
        float: left;
      }
    }
  }
}

.banner {
  margin: 2rem auto;
  height: 200px;
  width: 688px;
  padding-left: 124px;
  color: $banner-heading-fg;

}

.banner-logo {
  margin-bottom: 1rem;
  height:50px;
  width:150px;
}

.byline {
  font-size: 18px;
  font-weight: bold;
}

.lede {
  font-size: 18px;
  font-weight: bold;
  color: $showcase-lede-fg
}

#showcase-background {
  margin: 0 auto;
  width: $showcase-banner-width;
  /* background-color: #ff592d; */
  background: url(/img/showcase-header.png) no-repeat;
  background-size: $showcase-banner-width $showcase-banner-height;
}


