
div.linkblock {
  margin: 40px 0 0 0;
  padding: 25px;
  background-color: #eee;
  width: 370px;
  &.text-align-right {
    float: right;
  }
  &.text-align-left {
    float: left;
  }
  img {
    height: 100px;
    &.text-align-right {
      float: left;
    }
    &.text-align-left {
      float: right;
    }
  }
  div.caption {
    &.text-align-left {
      p {

        text-align: left;
      }
    }
    &.text-align-right {
      p {
        text-align: right;
      }
    }
    p {
      font-family: CircularPro;
      margin: 0;
      &.linkblock-read {
        margin-bottom: 8px;
        color: #165ECC;
      }
      &.linkblock-section {
        color: #485972;
        font-size: 14px;
        text-transform: uppercase;
      }
      &.linkblock-text {
        color: #485972;
        line-height: 80%;
        font-size: 28px;
        font-weight: normal;
      }
    }
  }
}
//Note tip warning message styles
.aui-message:before {
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
}
.aui-message {
    border-radius: 3px;
    border-width: 1px;
    line-height: 20px;
    padding-left: 60px;
    padding-right: 40px;

}
.aui-message p{
    margin-bottom: 0px;
}
.aui-message {
    background: #ffffff;
    border: 1px solid #3572b0;
    border-radius: 3px;
    color: #707070;
    margin: 20px 0 0 0;
    overflow-wrap: break-word;
    position: relative;
    word-wrap: break-word;
    word-break: break-word;
}
.aui-message.warning, .aui-message-warning {
    background: #ffffff;
    border-color: #ED5451;
}
.aui-message.tip, .aui-message-tip {
    background: #ffffff;
    border-color: #F79232;
}
.aui-message.note, .aui-message-note {
    background: #ffffff;
    border-color: #3497FF;
}
.aui-message:after {
    color: #ffffff;
    content: "\f16f";
    font-family: "aui-iconfont";
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    left: 12px;
    line-height: 1;
    margin-top: -8px;
    position: absolute;
    speak: none;
    top: 50%;
}
.aui-message.warning:after, .aui-message-warning:after {
    content: "\f1b3";
    color: #ED5451;
}
.aui-message.tip:after, .aui-message-tip:after {
    content: "\f173";
    color: #F79232;
}
.aui-message.note:after, .aui-message-note:after {
    content: "\f16f";
    color: #3497FF;
    
}
