@import "./palette"
, "./aui-iconfont"
, "./settings";

.row.sidebar {
  background: $sidebar-bg;
}

.sidebar {
  background: $sidebar-bg;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;

  .title {
    font-family: $adg3-font-family;
    font-weight: bold;
    font-size: 14px;
    color: $sidebar-title;
  }
  .sidebar-title-selected{
    font-family: $adg3-font-family;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    left: -13px;

    &::before{
      position: relative;
      left: -8px;
      top: 3px;
      font-size: 26px;
      content: " \2022";
      padding: 0;
      margin: 0;
    }
  }

  ul.menu {

    &[data-accordion-menu] {
      a.title {
        padding: 0 0 0 0;
        line-height: normal;
        outline: 0;

        &::after {
          font-family: "aui-iconfont";
          font-size: 22px;
          color: $nav-arrow-color;
          float: right;
        }
      }

      li[aria-expanded="true"] a.title::after {
        content: "\f15b";
      }

      li:not([aria-expanded="true"]) a.title::after {
        content: "\f11c";
      }
    }

    &:last-child {
      border-bottom: none;
    }

    li {
      .external-link{
        &:hover{
          text-decoration: underline;
          &::after{
            font-family: "aui-iconfont";
             display: inline-block;
            content: "\f140";
            margin-left: 5px;
            -webkit-transform: rotate(-135deg);
            -moz-transform: rotate(-135deg);
            -ms-transform: rotate(-135deg);
            -o-transform: rotate(-135deg);
          }
        }
      }

      a:not(.title) {
        font-family: $adg3-font-family;
        padding-left: 0;
        padding-bottom: 0.22rem;
        font-weight: normal;
        line-height: 18px;
        font-size: 14px;
      }
      a span {
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}
