@import "./settings"
, "~foundation-sites/assets/foundation"
, "./palette"
, "./geometry"
, "./google-cse"
, "./aui-iconfont"
, "./top-bar"
, "./subnav"
, "./lozenge"
, "./sidebar"
, "./homepage"
, "./footer"
, "./guides"
, "./page-not-found"
, "./products-index"
, "./community-index"
, "./showcase"
, "./shortcodes"
, "./font-faces"
, "./monokai-dark";

body {
  font-family: $adg3-font-family;

  .button.warning{
    color: $warning-button-text;
    font-weight: bold;
  }

  .gutter{
    margin: 5px !important;
  }

  .gutter-left{
    margin-left: 0px !important;
  }

  .gutter-right{
    margin-right: 0px !important;
  }

  .beta{
    position: relative;
    top: -5px;
  }

  .feedback{
    position: relative;
    top: -2px;
    padding-right: 100px;
    a{
      font-family: "Helvetica Neue";
      font-size: 12px;

    }

  }

  a {
    color: $link-color;

    &:hover {
      color: $link-color;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: CircularPro;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h3{
    font-size: 24px;
    color:#333333;
  }

  h5 {
    font-size: 16px;
  }

  hr {
    color:#DADADA;
    height: 1px;
    margin: 15px auto;
  }

  .oversized {
    color: #42526E;
    font-size: 20px;
    line-height: 27px;
  }

  pre {
    margin: 20px 0;
    padding: 10px 5px;
    max-height: 500px;
    overflow: scroll;
  }

  code {
    color: $base-fg;
    border: none;
  }

  i.fa.fa-arrow-right {
    font-size: 14px;
  }

  .callout.secondary{
      background-color: #F5F5F5;
      border: none;
  }

  ul, ol{
    li{
      font-size: 16px;
    }
  }


  #content ul {
    &.last-updated {
      padding: 0;
    }

    &.improve-or-report {
      padding-right: 0;
    }

    &.last-updated li {
      font-size: 14px;
      color: $label-text;
      padding: 0.8rem 1rem 0.8rem 0;
    }
    .report {
      font-size: 14px;
      color: $label-text;
      text-align: right;

      .fa-bug {
        margin-top: -1px;
        margin-right: 5px;
      }
    }

    .improve {
      font-size: 14px;
      color: $label-text;
      text-align: right;

      .aui-icon {
        margin-right: 5px;
      }
    }

    .label {
      margin-top: 20px;
      font-family: $adg3-font-family;
      font-size: 14px;
      border-radius: 7px;
      padding: 15px;
      border: 1px solid $warning-border;

      &.wrongbusiness {
        @extend .label;

        background: none;
        color: $warning-fg;
        margin-bottom: 10px;

        .aui-iconfont-info {
          color: $warning-border !important;
        }
      }

      &.success {
        @extend .label;

        background: none;
        border-color: green;
      }

      &.error {
        @extend .label;

        background: none;
        border-color: red;
      }

      &.warning {

        border-color: $warning-border;
        color: black;

        .aui-iconfont-info {
          color: $warning-border !important;
        }
      }
    }
  }
}

table thead, table tbody, table tfoot {
  border: none;
  border: none;
  p{
    font-size: 16px;
  }
  th{
    font-size: 16px;
  }
  tr{
    border-bottom: 1px solid #ccc;
  }
  tr:nth-child(even) {background: none}
  tr:nth-child(odd) {background: none}
}

.profile {
  display: none;
}

.productname-error, .subnav-error {
  color: red;
}

.content-canvas{
  background: $sidebar-bg;
}

.main {
  background: white;
  #content {
    max-width: 850px;
    padding: 40px;
    h1{
      margin-bottom: 12px;
    }
    p{
      font-size: 16px;
    }
  }
}

.flexible-column {
  display: flex;
  flex-direction: column;
  height: 100%;

  > .flexible-cell {
    width: 100%;
  }
}

.flexible-row {
  display: flex;
  flex-direction: row;
}

.flexible-cell {
  flex: 1 0 auto;
}

.fixed-cell {
  flex: 0 0 auto;
}

.release-version {
  width: 100%;
}
